// Place all the styles related to the ambassador::registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scheduler_here {
  width: 400px;
  height: 600px;
  padding: 10px;
}
