<% url ||= personal_profile_path %>

<%= simple_form_for profile, url: url, method: :put, html: {class: "form-horizontal"} do |f| %>
    <%= f.error_notification %>

    <%= render 'personal_fields', f: f %>

    <div class="form-actions">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
<% end %>
