<%= f.association :preferred_roles,
                  as: :check_boxes,
                  collection: Volunteer::Role.order(:title),
                  label_method: lambda { |role| display_preferred_role(role) } %>

<%= f.input :footnotes, label: false do %>
  <ul class="footnotes">
    <li class="first">
      This is a key volunteer position that requires responsibilities outside
      of the event such as training, logistics and other supporting tasks.
      Interested individuals will have to be approved by <%= virginia_first %>
      staff before being assigned this role.
    </li>
  </ul>
<% end %>

<%= f.input :volunteer_experience,
            as: :text,
            label: "Other experience or comments",
            input_html: {rows: 4, class: "span5"} %>