<h1>Background Skills</h1>

<%= simple_form_for @profile, url: background_profile_path, html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>

  <%= render 'background_fields', f: f %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
