
@font-face {
  font-family: 'open_sans_lightregular';
  src: font-url('opensans-light-webfont.eot');
  src: font-url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-light-webfont.woff') format('woff'),
  font-url('opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_regular';
  src: font-url('opensans-regular-webfont.eot');
  src: font-url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-regular-webfont.woff') format('woff'),
  font-url('opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
