
.menu {
  list-style-type: none;
  margin: 20px 0;

  .section-header {
    background-color: $gray;
    color: $white;
    display: block;
    font-weight: bold;
    padding: 10px;
    text-align: center;

    @include border-top-radius(4px);
  }
  .nav-tabs.nav-stacked > li:first-child > a {
    @include border-top-radius(0);
  }
}

.nav-tabs.nav-stacked > .active {
  > a, > a:hover, > a:focus {
    border-left: 5px solid $blueGray;
    padding-left: 7px;
  }
}

.nav > li > a {
  background-color: $grayLighter;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: $white;
}

// NAV LIST
// --------

.nav-list {
  > li {
    margin-bottom: -1px;

    > a {
      padding-top: 8px;
      padding-bottom: 8px;
      border: 1px solid #ddd;

      &.nav-list-bottom {
        @include border-bottom-radius(4px);
      }
    }
  }

  > .active {
    > a, > a:hover, > a:focus {
      background-color: $white;
      border-left: 7px solid $blueGray;
      color: #555;
      padding-left: 8px;
    }
  }

  .nav-list {
    margin-top: -1px;
  }
}

.frc {
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    border-left: 7px solid $blueDeep;
  }
}

.ftc {
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    border-left: 7px solid $yellowDeep;
  }
}

.fll {
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    border-left: 7px solid $redDeep;
  }
}

.jrfll {
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    border-left: 7px solid $teal;
  }
}
