@media (max-width: 767px) {
  #wrapper, #footer {
    width: auto;
  }

  .table {
    th.optional, td.optional {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  #wrapper, #footer {
    width: auto;
  }

  .table {
    th.optional, td.optional {
      display: none;
    }
  }
}
