html {
  height: 100%;
}

body {
  height: 100%;
}

.copyright {
  color: #888;
  font-size: 85%;
}

#footer {
  background-color: $white;
  border-top: 1px solid #eee;
  margin: 20px auto 0;
  padding: 20px;
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);

  .tag {
    margin-top: 40px;
    text-align: center;

    img {
      height: 10px;
    }
  }

  .usfirst-logo {
    float: right;
    width: 128px;
  }

  .vafirst-logo {
    float: left;
    width: 128px;
  }
}

#footer-push {
  height: 191px;
}

#header {
  padding: 30px 0 15px;
  position: relative;

  .nav-top {
    float: right;
  }
}

.header-actions {
  float: right;

  .btn {
    margin-left: 10px;
  }
}

#logo {
  float: left;
  margin-left: 64px;
}

#logo_cogs {
  position: absolute;
  top: 15px;
  left: 0;
  width: 64px;
}

#logo_text {
  width: 200px;
}

#wrapper {
  background-color: $white;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -191px;
  padding: 0 20px;

  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
}

.frc {
  background-color: $blueDeep;
}

.ftc {
  background-color: $yellowDeep;
}

.fll {
  background-color: $redDeep;
}

.jrfll {
  background-color: $teal;
}

.menu-logo {
  text-align: center;
}

.left-border {
  border-left: 1px solid #c4c4c4;
}

.right-border {
  border-right: 1px solid #c4c4c4;
}
