html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  background-color: $white;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
}

.frc {
  background-color: $blueDeep;
}

.ftc {
  background-color: $yellowDeep;
}

.fll {
  background-color: $redDeep;
}

.jrfll {
  background-color: $teal;
}

.menu-logo {
  text-align: center;
}
