
.table {
  th.action, td.action {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 75px;
  }

  th.center, td.center {
    text-align: center;
  }

  th.indicator, td.indicator {
    width: 75px;
    max-width: 100px;
    word-wrap: break-word;
    text-align: center;
  }
}
