<h1>Frequently Asked Questions</h1>

<p class="lead">Coming soon...</p>
<!--<dl>-->
  <!--<dt>Will I have time to watch the event?</dt>-->
  <!--<dd></dd>-->

  <!--<dt>Do I have to volunteer for the whole day?</dt>-->
  <!--<dd></dd>-->

  <!--<dt>What should I wear?</dt>-->
  <!--<dd></dd>-->

  <!--<dt>Will food be provided?</dt>-->
  <!--<dd></dd>-->

  <!--<dt>Can students volunteer at an event?</dt>-->
  <!--<dd>Absolutely! </dd>-->
<!--</dl>-->
