<h1>Become a Volunteer!</h1>
<p class="lead">There are numerous way for you to join the fun</p>

<p>
  <%= virginia_first %> relies on the help of volunteers to support all of our
  programs, assist at our events and competitions, and plan for our future. From
  administrative help and writers to field attendants and media relations, our
  volunteers have a broad spectrum of talents. VirginiaFIRST's programs,
  operations, and competitions don't happen without hundreds of people just like
  you.
</p>

<div class="row">
  <div class="span5">
    <h3>Volunteer<br>at an event</h3>
  </div>
  <div class="span7">
    <p>
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad
      minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p>
      <%= link_to "Learn more", "#" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span7">
    <p>
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad
      minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div class="offset5">
    <h3>Mentor a team</h3>
  </div>
</div>

<h2 class="center"><%= link_to "Sign up", registration_path %> today to get started</h2>
