<h1>Become a Mentor!</h1>

<p>
  Mentors are the keystone of our programs. Mentors engage and inspire students
  in ways far beyond science and technology. They enable both students and
  adults to appreciate the value of sportsmanship, teamwork, and Gracious
  Professionalism<sup>®</sup>.

</p>

<p>
  An <strong>FTC Coach/Mentor</strong> works with his or her students by helping
  them to develop skills and to design and build a successful robot. They guide
  teams through any issues they encounter, making them stronger in both their
  school and personal lives.
</p>

<p>
  Click to read the <%= link_to 'FTC Mentor Guide', 'http://www.usfirst.org/sites/default/files/uploadedFiles/Robotics_Programs/FTC/FTC_Documents/2013-FTCMentorGuide.pdf' %>.
</p>

<p>
  <strong>FRC Mentors</strong> play a vital role in the success of their
  students. Mentors work extensively with team members during the build season,
  designing, building, and fabricating a functional robot for Competition. Their
  expertise is the catalyst for the team’s and students’ success. FRC Mentors
  are the major distinction between the FRC program and other robotic
  competitions as they are wholly the professional role model for the student.
</p>

<p>
  Click to read the <%= link_to 'FRC Mentor Guide', 'http://www3.usfirst.org/uploadedFiles/Community/FRC/Team_Resources/Mentoring%20Guide.pdf' %>.
</p>
