<fieldset>
  <legend>Complete your Profile</legend>

  <p>
    In order to volunteer at an event, we need some basic information about you.
    This helps us better communicate with you leading up to the event.
  </p>

  <%= render "accounts/profiles/personal_fields", f: f %>
</fieldset>