<h1>Complete your Profile</h1>

<p>
  In order to volunteer at an event, we need some basic information about you. This helps us better communicate with you
  leading up to the event.
</p>

<%= render "accounts/profiles/personal_form", profile: @profile, url: volunteer_registration_path(@program) %>
