// Place all the styles related to the accounts::profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit_background_profile {
  .checkbox-inline {
    display: inline-block;
  }
}

#edit_volunteer_profile {
  .checkbox {
    display: inline-block;
    vertical-align: top;
    width: 210px;
  }
}

#edit_experience_profile {
  .inline-team {
    margin-bottom: 5px;

    .checkbox {
      display: inline-block;
      width: 100px;
    }

    input[type="text"] {
      height: 14px;
      width: 50px;
    }

    .team-input {
      display: inline-block;
      font-size: 0.9em;
    }
  }

  .profile_involvement {
    .controls > div {
      margin-bottom: 5px;
    }
  }
}

