// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/variables";

.home {
  .section {
    //margin: 20px 0;
    padding: 15px 0;
  }

  .fll-border {
    border-right: 5px solid $redDeep;
  }

  .frc-border {
    border-right: 5px solid $blueDeep;
  }

  .ftc-border {
    border-right: 5px solid $yellowDeep;
  }

  .jrfll-border {
    border-right: 5px solid $teal;
  }
}
